# Kitty template
font_family      JetBrains Mono
font_size        12.0

cursor_shape     beam
cursor_blink_interval 0

background_opacity 0.9
background ${BG}
foreground ${FG}
cursor ${ACCENT}

# Black
color0 ${BLACK}
color8 ${BLACK}

# Red
color1 ${RED}
color9 ${RED}

# Green
color2 ${GREEN}
color10 ${GREEN}

# Yellow
color3 ${YELLOW}
color11 ${YELLOW}

# Blue
color4 ${BLUE}
color12 ${BLUE}

# Magenta
color5 ${MAGENTA}
color13 ${MAGENTA}

# Cyan
color6 ${CYAN}
color14 ${CYAN}

# White
color7 ${WHITE}
color15 ${WHITE}

scrollback_lines 10000
tab_bar_style powerline
tab_powerline_style slanted
window_padding_width 10
window_padding_height 10

