* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono", "Font Awesome 6 Free";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: ${TRANSPARENT_BG};
    color: ${FG};
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: ${FG};
}

#workspaces button.active {
    background: ${ACCENT};
    color: ${BLACK};
}

#clock, #battery, #network, #pulseaudio, #tray {
    padding: 0 10px;
    color: ${FG};
}
